<h3>Products</h3>

<ul>
    <% @products.each do |product| %>
        <li>
            <a href="/products/<%= product.id %>">
                <%= product.name %>
            </a>
        </li>
    <% end %>
</ul>
